.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/tasks.json
src/main.exe
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/4.1.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.1.2/CompilerIdCXX/a.exe
build/CMakeFiles/4.1.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/4.1.2/CompilerIdC/a.exe
build/CMakeFiles/4.1.2/CMakeSystem.cmake
build/CMakeFiles/4.1.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/4.1.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/4.1.2/CMakeCXXCompiler.cmake
build/CMakeFiles/4.1.2/CMakeRCCompiler.cmake
build/CMakeFiles/4.1.2/CMakeCCompiler.cmake
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeCache.txt